<p id="notice"><%= notice %></p>

<h1>Listenings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>File url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listenings.each do |listening| %>
      <tr>
        <td><%= listening.name %></td>
        <td><%= listening.file_url %></td>
        <td><%= link_to 'Show', listening %></td>
        <td><%= link_to 'Edit', edit_listening_path(listening) %></td>
        <td><%= link_to 'Destroy', listening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listening', new_listening_path %>
